<div class="container-fluid">
  <div class="pending-homepage row">
    <h2> Solicitudes de horas Extras.</h2>
    <%= render 'pending_approval', locals:{pending_approval: @pending_approval}%>
  </div>
</div>