<div class="container-fluid">
  <div class="admin-pending-homepage row">
    <h2> Solicitudes de horas Extras.</h2>
    <hr>
    <%= render partial: 'pending_approval', locals:{pending_approval: @pending_approval}%>
  </div>
  <div class="admin-pending-homepage row">
    <h2> Pendientes por Revisión.</h2>
    <hr>
    <%= render partial: 'confirmation_log', locals:{recent_audit_items: @recent_audit_items}%>
  </div>
  <div class="clearfix"></div>
  <hr>
  <%= link_to 'Ver Todos', audit_logs_path, class: "btn btn-primary"%>
</div>