<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 column jumbotron employee-block">
      <p>ADFS</p>
    </div>
    <div class="col-md-5 column jumbotron employee-block">
      <p>ADFS</p>
    </div>
  </div>
</div>