<h1>Posts</h1>
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="hidden-xs">
        #
      </th>
      <th>
        Fecha
      </th>
      <th>
        Horas
      </th>
      <th class="hidden-xs">
        Justificación
      </th>
      <th>
        Estado
      </th>
      <th>
        Acción
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @post%>
  </tbody>
</table>

<%= paginate @post %>