.admin-pending-homepage{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e3e3e3;
  border-radius: 3px;
  padding: 20px;
}

.admin-homepage-block{
  background-color: #1D3C91;
  color:white;
  margin: 15px;
  padding: 15px;
  border-radius: 3px;
}

.admin-pending-details{
  font-weight: 900;
}

.admin-homepage-block:hover{
  background-color: #172b63;
}

.employee-block{
  margin: 25px;
}

.btn-audit-log-confirm{
  white-space: normal !important;
  text-align: center;
}